name: Dynamic inject a new Finance Quote into README

on:
    schedule:
        - cron: "0 0 * * *" # every day at midnight UTC
    workflow_dispatch: # allow manual trigger

permissions:
    contents: write

jobs:
    inject-finance-quote:
        if: ${{ false }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.x'
            - name: Install dependencies
              run: pip install requests
            - name: Update README
              run: python dynamic_injection.py
            - name: Commit and Push changes
              run: |
                git config user.name "github-actions[bot]"
                git config user.email "github-actions[bot]@users.noreply.github.com"
                git config pull.rebase false
                git pull
                git add .
                git commit -m "chore: [Automated] Update README with a new random Finance Quote!"
                git push
